#container {
    height:1000px;
    width: 1780px;
    background-color: green;
}
.plaatje1{
    height:200px;
    width: 200px;
    border:1px solid black;
}
.plaatje2{
    height:200px;
    width: 200px;
    border:1px solid black;
}
.plaatje3{
    height:200px;
    width: 200px;
    border:1px solid black;
}