footer{
    background-color: #050505;
    width: 100%;
    color: #fff;
    padding: 60px 0px;
}

footer .container{
    display: flex;
    align-content: center;
}

footer .container .column{
    margin-right: 120px;
}

footer .container .column p{
    margin: 10px 0px;
}

footer .container .column ul{
    padding: 0px;
    list-style: none;
}

footer .container .column li a{
    color: #fff;
    text-decoration: none;
    margin: 10px 0px;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Maril-570-polyester-sloep00034-1500x1000-maril-foto-kopie.jpg")
      }